/* GENERAL */
/* -----01 TYPOGRAPHY SYSTEM

SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
    
    --FONT SIZE SYSTEM (px)
    10 / 12  / 14 / 16 / 18 / 20 / 24 / 36 / 38 / 44 / 52 / 62 / 74 / 86 / 96

    --FONT WEIGHT::
--Defaualt: 400
Medium: 500
semi-bold: 600
700
bold: 900
--LINE HEIGHT:
--Default: 1
small; 1.05
medium:1.2
large:1.8
paragraph-default 1.6

-------02 COLORS
-Primary: #101010
-tints: 
-Shades:#252525
-Accents
-Grays: #555  #333  #6f6f6f(lightest gray allowed)

---- 05 SHADOWS
 box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
-----06 BORDER-RADIUS
default: 9px

-----07 WHITESPACE
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #101010;
}

main {
  padding: 0 100px;
}

header {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-image: url("../images/hero-img.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.name {
  display: flex;
  font-size: 1.3rem;
  letter-spacing: 0.6rem;
  text-decoration: none;
  color: #34c759;
  margin: 2.4rem;
  margin-left: 12rem;
}

nav {
  display: flex;
  border-bottom: 1px solid white;
  justify-content: space-between;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 3.2rem;
  margin-right: 12rem;
  color: aliceblue;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  font-size: 1rem;
  color: white;
}

.hero {
  display: inline-block;
  align-items: center;
  max-width: 130rem;
}

.heading-primary {
  position: relative;
  max-width: 90rem;
  /* left: 11rem; */
  font-size: 7.2rem;
  font-weight: 300;
  /* margin-left: 18rem; */
  /* margin-right: 18rem; */
  margin: 0 18rem;
  margin-top: 5rem;
  line-height: 8.7rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #fff;
}

.description {
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 2.6rem;
  margin: 0 40rem;
  opacity: 0.7;
}

.btn,
.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 1.4rem 3rem;
  border-radius: 43px;
  text-decoration: none;
  margin: 0 55rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  text-align: center;

  /* only for btn */
  border: none;
  cursor: pointer;
}

.btn--full:link,
.btn--full:visited {
  background-color: #34c759;

  color: #1a1a1a;
}

.btn--full:hover,
.btn--full:active {
  background-color: #32a54f;
}

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 0;
  /* margin-bottom: ; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.dish-heading,
.how-heading,
.recipes-heading,
.social-heading {
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  color: #d9d9d9;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 7rem;
}

/* SECTION FEATURE */
.feature {
  /* max-width: 59.5rem; */
  /* height : 3rem;
  top : calc(50% - 30px/2 + 8.5px);
  left : calc(50% - 595px / 2 + 0.5px); */
  text-align: center;
  font-size: 1rem;
  /* padding-left: -2rem; */
  margin: 0 8rem;
}

.feature-title {
  /* position: absolute; */
  /* position: relative; */
  /* height : 3rem; */
  /* max-width: 35rem; */
  /* top: 40rem;
  left: calc(50% - 350px / 2 + 0.5px); */
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
}

.feature-text {
  /* position: absolute; */
  position: relative;
  /* height : 3rem; */
  /* max-width: 35rem; */
  /* top: 40rem;
  left: calc(50% - 350px / 2 + 0.5px); */
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
}

.feature-icon {
  /* position: absolute; */
  position: relative;
  /* height : 3rem; */
  right: 1rem;
  /* top: 41rem;
  left: calc(50% - 400px / 2 + 0.5px); */
  /* height: 1.5rem;
  width: 1.5rem; */
  color: #fff;
}

/* SECTION ABOUT */

.section-about {
  background-color: #252525;
  display: grid;
  align-items: center;
  padding: 6.2rem;
  margin: 10rem 18rem;
}

.about {
  position: relative;
}
.about h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  letter-spacing: 1rem;
  font-weight: 900;
  color: rgba(85, 85, 85, 0.918);
  opacity: 0.3;
}

.about-title {
  text-align: center;
  color: #d9d9d9;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 6.2rem;
}

.about-text {
  letter-spacing: 1px;
  font-size: 1.2rem;
  /* font-weight: 300; */
  max-width: 65rem;
  color: #d9d9d9;
  text-align: center;
  line-height: 2rem;
}

.about-img {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 1.6rem;
  padding: 1.6rem;
  height: 20rem;
  width: 35rem;
  margin-top: 5rem;
  overflow: hidden;
  width: 100%;
  transition: all 0.4s;
}

.about-img:hover {
  transform: scale(1.1);
}

.section-how {
  display: grid;
  align-items: center;
  padding: 6.2rem;
  margin: -7rem 7.5rem;
}

/* SECTION HOW IT WORKS */
.work {
  box-shadow: 0 2.4rem 4.8rem rgba(124, 71, 71, 0.247);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  padding: 5rem 1.5rem;
  gap: 8rem;
  background-color: #252525;
  max-width: 35rem;
  margin: 1.2rem;
  padding-bottom: 4rem;
}

.how {
  position: relative;
}
.how h1 {
  position: absolute;
  top: 18%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  letter-spacing: 0.7rem;
  font-weight: 900;
  color: rgba(85, 85, 85, 0.918);
  opacity: 0.3;
}

.work:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
  background-color: #34c759;
}

.work-title {
  position: relative;
  color: #fff;
  padding-top: -4rem;
  margin-top: -2.5rem;
  font-size: 2rem;
  font-weight: 300;
  max-width: 35rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.work-text {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  line-height: 1.2rem;
  color: #fff;
}

.work-title:hover {
  color: #1a1a1a;
}
.work-text:hover {
  color: #1a1a1a;
}

.work-icon {
  color: #34c759;
}

.work-icon:hover {
  color: #fff;
}

/* SECTION DISH OF THE DAY */

.dish {
  position: relative;
}

.dish h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 1rem;
  color: rgba(85, 85, 85, 0.918);
}

.dish-outline {
  /* margin: 0 5rem; */
  gap: 1.6rem;
  padding: 1.6rem 1.6rem;
  padding-bottom: 3rem;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.dish-img {
  /* height: 300px;
  width: 250px; */

  margin-bottom: 0.5rem;
}
.section-meals {
  padding: 6.2rem 4rem;
  margin: 4rem 0;
  padding-left: 1rem;
}

.featured-meal {
  padding: 2rem;
  position: relative;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.05rem;
  padding-bottom: 0;
  /* background-color: #4a4a4a; */
}
.featured-title {
  font-weight: 300;
  font-size: 2.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.featured-subtitle {
  font-weight: 100;
  font-size: 0.7rem;
  margin-bottom: 3rem;
}

.featured-text {
  font-weight: 100;
  line-height: 1.3rem;
  padding-bottom: 2rem;
}

.icons {
  display: flex;
}

.star-icon {
  font-size: 2rem;
  color: #555;
}

.star-icon-1 {
  color: yellow;
  font-size: 2rem;
}

.number {
  margin: 0.5rem 1rem;
  font-size: 1rem;
}
.order {
  background-color: rgba(0, 0, 0, 0.1);
  margin: -0.5rem 1rem;
  margin-left: 4rem;
  border: solid 0.1px #fff;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1.2rem 2rem;
  border-radius: 43px;
}

.order:hover,
.order:active {
  background-color: #0ebe0e;
}

/* SECTION THIS MONTHS CHEF */
.section-chef {
  display: flex;
  justify-content: space-between;
}
.chef-container {
  display: flex;
  flex-direction: column;
}
.chef {
  display: flex;
}
.chef-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chef-name {
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1.2rem;
}

.chef-gallery img:not(last-child) {
  margin-right: 2.7rem;
  width: 6.5rem;
  height: 6.5rem;
}

.chef-gallery img:first-child {
  margin-right: 2.7rem;
  height: 6.5rem;
  width: 12rem;
}

.chef-heading-text {
  margin-bottom: 5rem;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  color: #d9d9d9;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 7rem;
}

.chef-heading {
  position: relative;
}

.chef-heading h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 1rem;
  color: rgba(85, 85, 85, 0.918);
}

.chef-note {
  margin-bottom: 4.5rem;
}

.chef-img {
  padding-bottom: 4rem;
  margin-right: 1.5rem;
}

.chef-details {
  color: #ffffff;
  opacity: 0.3;
}

/* SECTION-RECIPES */
.section-recipes {
  margin: 8rem 0;
}

.recipes {
  position: relative;
}

.Recipe-grid {
  display: flex;
  justify-content: space-between;
}

.recipes h1 {
  position: absolute;
  top: 0.7%;
  left: 50%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 1rem;
  height: 4rem;
  color: rgba(85, 85, 85, 0.918);
}

.Recipe-1 {
  background-image: url("../images/Recipes-1.png");
  background-size: cover;
  height: 80vh;
  width: 65vw;
  background-repeat: no-repeat;
  border-radius: 11px;
  /* text-align: center; */
}

.recipe-1-texts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.breakfast {
  background-color: #101010;
  border-radius: 7px;
  padding: 1.5rem;
  color: #ffffff;
  font-weight: 600;
  opacity: 0.3;
  margin: 5rem 24rem;
}

.dates {
  margin: 3rem;
  color: #fff;
}

.recipes-text {
  margin-bottom: 5rem;
  color: #fff;
  font-size: 2.7rem;
  padding: 0 3rem;
}

.chats1 {
  display: flex;
  align-items: center;
  margin: 4rem 22rem;
}
.icon-text1 {
  margin-right: 2rem;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.icon-eyes1 {
  margin: 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.more-recipes {
  display: flex;
  flex-direction: column;
}

.recipe-2,
.recipe-3,
.recipe-4 {
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  /* padding: 2rem 4.5rem; */
  gap: 2rem;
  background-color: #252525;
  /* max-width: 35rem;
  padding-bottom: 4rem; */
  margin: 1.2rem;
  padding: 2.5rem 0;
  padding-left: 3rem;
  margin-right: 0.2rem;
}
.recipe-subs {
  display: flex;
}

.recipe-text {
  color: #fff;
  line-height: 2.5rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-bottom: 1.7rem;
  font-weight: 600;
}
.lunch {
  background-color: #101010;
  border-radius: 7px;
  padding: 1rem 1rem;
  color: #ffffff;
  font-weight: 600;
  opacity: 0.3;
}
.date {
  margin: 0.8rem 1rem;
  margin-left: 2.7rem;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.icon-eye {
  margin: 0.8rem 1rem;
  margin-left: 10rem;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.icon-chat {
  margin: 0.8rem 1rem;
  margin-left: 9rem;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.icon-text {
  margin: 0.8rem 1rem;
  margin-left: 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.recipe-3 {
  background-image: url("../images/recipes-3.png");
  background-size: cover;
  height: 25vh;
  background-repeat: no-repeat;
}

/* SECTION SOCIALS */

.social-heading {
  position: relative;
}

.social-heading-text {
  margin-bottom: 5rem;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  color: #d9d9d9;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 7rem;
}

.social-heading h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 1rem;
  color: rgba(85, 85, 85, 0.918);
}

.socials {
  /* box-shadow: 0 2.4rem 4rem rgba(124, 71, 71, 0.247); */
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.4s;
  padding: 2rem 1rem;
  gap: 8rem;
  background-color: #252525;
  margin: 1.2rem;
  padding-bottom: 2.5rem;
  margin-bottom: 10rem;
}

.socials-heading {
  display: flex;
  padding-bottom: 1.5rem;
  border-bottom: solid #303030 2px;
}
.socials-icon {
  border: 2px solid #303030;
  border-radius: 100px;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 1.3rem 0 1.5rem;
}

.media {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 0.7rem;
  margin-right: 3rem;
  color: #fff;
}

.follow {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 1rem;
  margin-left: 3rem;
  border: solid 0.1px #303030;
  text-decoration: none;
  color: #737373;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 1rem 1.7rem;
  border-radius: 43px;
}
.socials-body {
  color: #fff;
  margin: 0 1.3rem 0 1.5rem;
  font-weight: 500;
}

.socials-date {
  margin: 1.7rem 0;
  color: #737373;
  font-size: 1.2rem;
}
.socials-text {
  line-height: 2.3rem;
  max-width: 35rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.socials-name {
  color: #34c759;
  margin-top: 2.5rem;
}

.insta-socials {
  /* box-shadow: 0 2.4rem 4rem rgba(124, 71, 71, 0.247); */
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.4s;
  padding-top: 2rem;
  /* gap: 8rem; */
  background-color: #252525;
  margin-top: 1.2rem;
  margin-bottom: 10rem;
}

.instagram-body {
  display: flex;
  /* margin-bottom: 0;
  padding-bottom: 0; */
}

.instagram-body img {
  height: 10rem;
  width: 12rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer {
  margin-top: 5rem;
  background-color: #252525;
  /* height: 100vh; */
  /* padding-top: 5rem 0; */
  /* padding-bottom: 0; */
  margin-bottom: 5rem;
}

.footer-feature {
  text-align: center;
  font-size: 1rem;
  margin: 5rem 8rem;
  margin-bottom: 4rem;
}
.feature-text {
  margin-top: 0.9rem;
}
.footer-footer {
  display: flex;
  border-top: 0.1rem solid #737373;
  margin-bottom: 5rem;
}

.footer-footer img {
  height: 2rem;
  width: 2rem;
  margin-left: 51rem;
  margin-top: 3.7rem;
}
.name2 {
  /* display: flex; */
  font-size: 1.3rem;
  letter-spacing: 0.6rem;
  text-decoration: none;
  color: #34c759;
  margin-top: 4rem;
  margin-left: 2rem;
}

.footer-p {
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  margin-left: 49rem;
  padding-bottom: 3rem;
  margin-top: -4.1rem;
  color: #737373;
}
